.products-index__img {
  height: 200px;
  object-fit: cover;
}

.products-form__img {
  height: 200px;
  object-fit: cover;
}

.products-show__img {
  width: 100%;
  object-fit: cover;
}

.products-index__product-link {
  text-decoration: none;
  color: #000;
}
