.home-index
  %h1 さくらマーケット
  %p さくらマーケットは、旬の鮮度と質にこだわった生鮮食品をお届けするオンラインマーケットです。
  %p 我々は、四季折々の豊かな自然が生み出す最高品質の食材を全国の食卓へ直送します。
  %p 桜の花が咲くように美しく、そして優雅に皆様の食生活に潤いを与えることが私たちの願いです。
  %h2 ✨ さくらマーケットの特徴 ✨
  %p 厳選された生産者直送の新鮮さ: 私たちは全国の選りすぐりの農家や漁師から直接仕入れることで新鮮さを保ちます。
  %p 季節感あふれる旬の食材: 春の筍、夏のトマト、秋のきのこ、冬のカニといった季節ごとの味覚をお届けします。
  %p 安心・安全への取り組み: 徹底した食品安全管理のもと、全ての商品をお客様のもとへお送りします。
  %p オンラインショッピングの快適さ: 24時間受け付け可能なオンラインショップで、いつでもどこでもお買い物が可能です。
  %p 地球環境への配慮: 環境に負担をかけない包装材を使用し、持続可能な社会の実現を目指しています。
  %h2 🍓 取り扱い商品の一例
  %p 野菜: 新鮮な季節の野菜を多種多様に取り揃えています。
  %p 果物: 甘くてジューシーな果物をご家庭まで。
  %p 肉類: 肉のプロが選んだ鮮度と品質を保証する肉類。
  %p 魚介類: 漁港から直送の新鮮な魚介をお楽しみいただけます。
  %p 乳製品: 良質な牛乳から作られたクリーミーな乳製品。
  %p その他: 旬の食材を使った加工品や地域限定の特産品もご用意しています。
  %h2 🚚 ご利用ガイド
  %p 会員登録: 無料の会員登録でお買い物がスムーズに。
  %p 商品選択: お好みの商品をカートに入れてください。
  %p お届け日時指定: ご希望の日時にあわせてお届けします。
  %p カスタマーサポート: 何かご不明点があれば、親切・丁寧に対応させていただきます。
