<p>初めまして<%= @email %>さん</p>

<p>こんにちは、さくらマーケットです。</p>
<p>この度はご登録いただき、誠にありがとうございます。 下記のリンクにアクセスしていただき、アカウントの有効化を完了させてください。</p>
<p>アカウントが有効化されますと、さくらマーケットの全機能をご利用いただけますので、ぜひお楽しみください。</p>
<p>今後ともさくらマーケットをどうぞよろしくお願いいたします。</p>

<p><%= link_to 'アカウントを有効化する', confirmation_url(@resource, confirmation_token: @token) %></p>
