%nav.navbar.navbar-expand-lg.bg-body-tertiary
  .container-fluid
    = link_to 'さくらマーケット', root_path, class: 'navbar-brand'
    %button.navbar-toggler{"data-bs-target" => "#navbarNavDropdown", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          = link_to '新規登録', new_user_registration_path, class: 'nav-link'
        %li.nav-item
          %a.nav-link{:href => "#"} カートを見る
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
            ユーザー情報
          %ul.dropdown-menu
            %li
              %a.dropdown-item{:href => "#"}
            %li
              %a.dropdown-item{:href => "#"} Another action
            %li
              %a.dropdown-item{:href => "#"} Something else here
